[submodule "external/@worldbrain/storex"]
	path = external/@worldbrain/storex
	url = https://github.com/WorldBrain/storex
[submodule "external/@worldbrain/storex-backend-dexie"]
	path = external/@worldbrain/storex-backend-dexie
	url = https://github.com/WorldBrain/storex-backend-dexie
[submodule "external/@worldbrain/storex-backend-firestore"]
	path = external/@worldbrain/storex-backend-firestore
	url = https://github.com/WorldBrain/storex-backend-firestore
[submodule "external/@worldbrain/storex-pattern-modules"]
	path = external/@worldbrain/storex-pattern-modules
	url = https://github.com/WorldBrain/storex-pattern-modules
[submodule "external/@worldbrain/storex-typescript-generation"]
	path = external/@worldbrain/storex-typescript-generation
	url = https://github.com/WorldBrain/storex-typescript-generation
[submodule "external/@worldbrain/storex-media-middleware"]
	path = external/@worldbrain/storex-media-middleware
	url = https://github.com/WorldBrain/storex-media-middleware
[submodule "external/@worldbrain/storex-data-tools"]
	path = external/@worldbrain/storex-data-tools
	url = https://github.com/WorldBrain/storex-data-tools
[submodule "external/@worldbrain/memex-common"]
	path = external/@worldbrain/memex-common
	url = git@github.com:WorldBrain/memex-common.git
[submodule "external/@worldbrain/memex-storage"]
	path = external/@worldbrain/memex-storage
	url = https://github.com/WorldBrain/memex-storage
[submodule "external/@worldbrain/storex-sync"]
	path = external/@worldbrain/storex-sync
	url = https://github.com/WorldBrain/storex-sync
[submodule "external/@worldbrain/storex-middleware-change-watcher"]
	path = external/@worldbrain/storex-middleware-change-watcher
	url = https://github.com/WorldBrain/storex-middleware-change-watcher
[submodule "external/@worldbrain/memex-url-utils"]
	path = external/@worldbrain/memex-url-utils
	url = https://github.com/WorldBrain/memex-url-utils
[submodule "external/@worldbrain/storex-backend-typeorm"]
	path = external/@worldbrain/storex-backend-typeorm
	url = git@github.com:WorldBrain/storex-backend-typeorm
[submodule "external/@worldbrain/storex-backend-sql"]
	path = external/@worldbrain/storex-backend-sql
	url = git@github.com:WorldBrain/storex-backend-sql.git
