$typeface-primary: "Open Sans";
$typeface-secondary: "Nunito";

$color-primary: #755;
$color-primary-contrast: white;

$color-primary-shade-2: #666;
$color-primary-shade-2-contrast: $color-primary-contrast;

$color-danger: #f55;

$z-index-overlay: 50;
