@import "./globals.module.scss";

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body, input, textarea, select, button {
    font-size: 10pt;
    font-family: $typeface-primary;
}
