@import "../../styles/elements.module.scss";

.pageSectionTop {
    display: flex;
}

.pageSectionTitle {
    flex-grow: 2;
    font-size: 1.3em;
}

.createNewProjectButton {
    @include button($filled: true);
}

.pageSectionContent {
    margin-top: 20px;
}

.projectLink {
    color: inherit;
}

.accountSettingsButton {
    @include button($contrast: true);
}
