@import "../../styles/globals.module.scss";

.container {
    margin-bottom: 30px;
    padding: 20px;
    background-color: $color-primary-shade-2;
    color: $color-primary-shade-2-contrast;
}

.title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
