.stepsContainer {
    display: flex;
    flex-wrap: wrap;
}

.stepContainer {
    margin: 20px;
}

.stepTitle {
    margin-bottom: 10px;
}

.programContainer {
    position: relative;
    border: 2px solid black;
    overflow-y: auto;
}